@import "../layouts/variables";

.header {
    background: #fff;
    height: 65px;
    padding: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    .logo {
        font-size: 20px;
        font-weight: 600;
        color: $blue-text-color;
    }
    .profile {
        font-size: 30px;
        color: $blue-text-color;
        cursor: pointer;
        &:hover {
            color: #9fb5b0;
        }
    }
    .about_me {
        font-size: 30px;
        color: $blue-text-color;
        cursor: pointer;
        &:hover {
            color: #9fb5b0;
        }
    }
    .header_items_list {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0 2rem;
        .header_item {
            margin: 0 10px;
            font-size: 15px;
            font-weight: 500;
            color: $blue-text-color;
            cursor: pointer;
            &:hover {
                color: #9fb5b0;
            }
        }
    }
    .pipeLine {
        @include pipeLine;
    }
}