.header {
    background: #0E8388;
    height: 65px;
    padding: 0 20px;
    .logo {
        font-size: 20px;
        font-weight: 600;
        color: #bea714f3;
    }
    .profile {
        font-size: 30px;
        color: #F7F1E5;
        cursor: pointer;
        &:hover {
            color: #9fb5b0;
        }
    }
    .headr-items-list {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0 2rem;
        .header-item {
            margin: 0 10px;
            font-size: 15px;
            font-weight: 500;
            color: #F7F1E5;
            cursor: pointer;
            &:hover {
                color: #9fb5b0;
            }
        }
    }
}