.header {
    background: #40513B;
    padding: 20px;
    .logo {
        font-size: 20px;
        font-weight: 600;
        color: #E7B10A;
    }
    .profile {
        font-size: 30px;
        color: #F7F1E5;
        cursor: pointer;
        &:hover {
            color: #E7B10A;
        }
    }
    .headr-items-list {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0 2rem;
        .header-item {
            margin: 0 10px;
            font-size: 15px;
            color: #F7F1E5;
            cursor: pointer;
            &:hover {
                color: #E7B10A;
            }
        }
    }
}