@import "../layouts/variables";
@media (min-width: $layout-breakpoint-xs) {
    .cv_image {
        display: none;
    }
    .xs_sm {
        display: flex;   
    }
    .sm_over {
        display: none;
    }
}
@media (min-width: $layout-breakpoint-sm) {
    .xs_sm {
        display: none;
    }
    .sm_over {
        display: unset;
    }
}
@media (min-width: $layout-breakpoint-md) {
    .cv_image {
        display: unset;
        width: 300px;
        height: 500px;
        border: 5px solid #ece5e5;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}
.text_yellow {
    color: #d0c248;
    margin-right: 10px;
}
.text_center {
    text-align: center;
}