* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  a {
    text-decoration: none;
  }
  .body-component {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: #0E8388;
      border-radius: 5px;
    }
  }
}